figure{
	background-color: beige;
	border: 5px solid transparent;
	border-color: #333;
	width: fit-content;
	padding: 10px;
	margin: 10px auto 10px auto;
}

figure > p{
	margin:0px;
}
form{
	position: relative;
	text-align: center;
	width: fit-content;
	margin:auto;
	background-color: rgba(0, 0, 0, 0.7);
	
}
form > label{
	color:white;

}
form > input{
	color:white;
}
span{
	padding: 25px;
}

label {
	font-size: medium;
}

label.a {
	word-spacing: 115px;
}

div {
	font-size: x-large;
	position: relative;
	text-align: center;
}

div.error{
	font-size: medium;
	color: red;
}

#Editor{
	display: none;
}

#enemyEditor{
	display: none;
}

#flagEditor{
	display: none;
}

#coinEditor{
	display: none;
}

#portalEditor{
	display: none;
}

#movements{
	position: center;
}

#angle_container{
	display:none;
}

textarea {
	width: 40px;
	height: 20px;
	resize: none;
}